@import 'styles/_variables.scss';
.button {
    border-radius: 65px;
    border: 0;
    padding: 16px 39px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: $white;
    background-color: $orange;
    transition: color, background-color ease-in-out 0.1s;

    &:hover,
    &:active {
        background: $yellow;
        color: $blue;
    }
}
