@import 'styles/_variables.scss';

.text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 3vw, 24px);
    line-height: 33px;
    color: $text-color;
}
