@import 'styles/_variables.scss';

.app {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    .welcome {
        height: min(1233px, 100vh);
        background-image: url('./images/background.png');
        background-position: bottom;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-bottom: 120px;
        .void {
            height: 50px;
        }
    }
    .settings {
        display: flex;
        justify-content: center;

        .form {
            padding-left: 20px;
            padding-top: 25px;
            padding-bottom: 26px;
            padding-right: 40px;
            border-radius: 60px;
            width: 84%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background-color: $light-blue;
            margin-bottom: 120px;

            .firstline {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
            .secondline {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }

    .cards {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 120px;

        .line {
            justify-content: center;
            width: min(100%, 1532px);
            margin: 0 3vw;
            height: 100%;
            grid-template-columns: repeat(auto-fit, minmax(320px, 500px));
            display: inline-grid;
            gap: 30px 16px;
            justify-items: center;

            & > * {
                overflow: hidden;
            }
        }
    }

    .gallerys {
        display: flex;
        justify-content: center;
        margin-bottom: 120px;

        .block {
            width: 84%;

            .gallery {
                margin-top: 50px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-auto-rows: minmax(300px, auto);
                grid-auto-flow: dense;
                grid-gap: 10px;

                .image1 {
                    grid-column-end: span 2;
                    grid-row-end: span 2;
                }

                .image2 {
                    grid-column-end: span 1;
                    grid-row-end: span 1;
                }

                .image3 {
                    grid-column-end: span 1;
                    grid-row-end: span 1;
                }

                .image4 {
                    grid-column-end: span 2;
                    grid-row-end: span 1;
                }

                .image1,
                .image2,
                .image3,
                .image4 {
                    background-repeat: no-repeat;
                    border-radius: 65px;
                    background-size: cover;
                    transition: all 0.3s ease;
                }

                .expanded {
                    position: relative;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    grid-column-start: 1;
                    grid-column-end: 5;
                    transition: all 0.3s ease;

                    &::after {
                        content: url('./images/maki_cross.svg');
                        position: absolute;
                        right: 40px;
                        top: 40px;
                    }
                }

                .none {
                    display: none;
                }
            }
        }
    }

    .reviews {
        width: 100%;
        display: flex;
        justify-content: center;

        .block {
            width: 84%;

            .cards {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                margin-top: 50px;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .callback {
        width: 100%;
        display: flex;
        justify-content: center;

        .block {
            display: flex;
            justify-self: center;
            flex-direction: column;
            align-items: center;
            .form {
                margin-top: 60px;
                margin-bottom: 270px;
                display: grid;
                grid-auto-flow: dense;
                grid-template-columns: 2fr 1fr;
                grid-auto-rows: auto;
                column-gap: 20px;
                row-gap: 30px;
                justify-items: center;

                .input {
                    border-radius: 65px;
                    border: none;
                    background-color: $light-gray;
                    width: 100%;
                    font-weight: 400;
                    color: $text-color;
                    border-radius: 65px;
                    height: 60px;
                    border: none;
                    padding-left: 30px;
                    padding-right: 30px;
                    text-align: center;

                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 33px;

                    &:focus,
                    &:hover,
                    &:visited,
                    &:active {
                        outline: none;
                        border: none;
                    }
                }

                .checkboxs {
                    grid-column-end: span 3;
                    display: flex;
                    align-items: center;

                    .checkbox {
                        width: 20px;
                        height: 20px;
                        box-shadow: 0px 8px 8px rgba(46, 69, 85, 0.1);
                        background-color: #e3e3e3;
                        border-radius: 50%;
                        vertical-align: middle;
                        border: 5px solid $white;
                        appearance: none;
                        -webkit-appearance: none;
                        outline: none;
                        cursor: pointer;

                        transition: background-color ease-in 0.5;
                        &:checked {
                            background-color: $light-blue;
                        }
                    }

                    .label {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 33px;
                        color: $text-color;
                    }
                }
            }
        }
    }
}
