@import 'styles/_variables.scss';

.header {
    display: flex;
    flex-direction: column;

    .header-title {
        background-color: olive;
        align-items: center;
        display: flex;
        flex-direction: row;

        .header-title-img {
            width: 390px;
        }
    }

    .header-nav {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}
