@import 'styles/_variables.scss';

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 123px;
    z-index: 5;
    align-items: center;

    .header-title {
        width: 84%;

        background-color: $white;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .header-title-img {
            width: 390px;
            align-items: center;
        }
        .header-titile-left {
            align-items: center;
            display: flex;
            flex-direction: row;
            .header-titile-left-social {
                align-items: center;
                margin-left: 120px;
                width: 120px;
                justify-content: space-between;
                display: flex;
                flex-direction: row;
            }
        }
    }

    .header-nav {
        align-items: center;
        position: absolute;
        z-index: 6;
        width: 84%;
        top: 150px;
        display: flex;
        justify-content: space-between;
    }
}
