@import 'styles/_variables.scss';

.sectiontitile {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin: 0 5vw;
    font-size: clamp(24px, 5vw, 48px);
    color: $text-color;
}
