@import 'styles/_variables.scss';

.cardabout {
    // width: 529px;
    width: min(500px, 100%);
    height: min(497px, 50vh);

    padding: 40px;

    background-position: center;
    background-repeat: no-repeat;
    border-radius: 65px;

    display: flex;

    align-items: flex-end;

    text-decoration: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;

    color: $white;
}
