@import 'styles/_variables.scss';

.h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    //margin: 0 5vw;
    font-size: clamp(48px, 10vw, 128px);
    color: $white;
}
